@import "style.css";
body {
  margin-top: 0;
}
main {
  overflow: auto;
  z-index: 1;
  display: none;
}
.post__container {
  width: 728px;
  min-height: calc(100vh - 40px);
  background: rgb(255, 255, 255);
  height: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
}
.post__card {
  display: flex;
  flex-direction: column;
  padding: 0px 60px;
  padding-bottom: 60px;
}
.post__originator {
  width: 100%;
  padding: 30px 0 5px;
}
.post_content{
 line-height: 2;
 margin-top: 10px;
}
.post_content img{
  display: block; 
  margin: 5px auto; 
  max-width: 100%;
  height: auto;
}
.originator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.man {
  color: rgb(36, 144, 191);
  display: none;
  margin-right: 10px;
  font-size: 1.5rem;
}
.women {
  color: rgb(203, 58, 107);
  display: none;
  margin-right: 10px;
  font-size: 1.5rem;
}
p {
  margin-bottom: 0;
}
.post__time {
  color: rgba(0, 0, 0, 0.35);
  font-size: 14px;
  margin: 10px 0 0;
}
.post__board{
  color: #47A0D2;
  font-size: 14px;
  margin: 10px 0 0;
}
.post_title {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  overflow-wrap: break-word;
}

textarea {
  line-height: 22px;
  font-size: 12px;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: 728px;
  padding: 5px 40px;
  font-size: 16px;
  min-height: 20px;
}
.comment_btn {
  outline: none;
  border: none;
  background-color: #3397cf;
  color: white;
  border-radius: 5px;
  width: 50px;
  margin-left: 10px;
}
.comment_card {
  width: 728px;
  /* min-height: 200px; */
  /* background: rgb(245, 245, 245); */
  margin: 0 auto;
  padding: 30px 40px 40px;
}

.title_div {
  font-weight: 400;
  line-height: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 4px;
}
.comment_div {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  word-break: break-word;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.school {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 450;
}
.createtime{
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  margin-top: 5px;
  padding:0 5px;
}
.floor{
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  margin-top: 5px;

}
img {
  display: block;
  max-width: 100%;
  max-height: 60vh;
  height: auto;
  margin: 8px auto;
}
.imageDiv {
  width: 100%;
}
.comment__placeholder {
  padding-left: 40px;
  color: rgba(0, 0, 0, 0.5);
}
.post__comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255);
  height: 48px;
  width: 728px;
  cursor: text;
}
.comment__container {
  border-radius: 0 0 10px 10px;
  padding-bottom: 30px;
  background: rgb(245, 245, 245);
  /* min-height: 400px; */
}
.full__comment {
  display: none;
  background: rgb(255, 255, 255);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  bottom: 0;
  width: 728px;
  left: 50%; 
  transform: translateX(-50%);
}
.user__info {
  padding: 0px 60px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}
[contenteditable]:active,
[contenteditable]:focus {
  border: none;
  outline: none;
}
.comment__box {
  padding: 10px 60px 120px;
  height: 190px;
  overflow-y: auto; 
  flex-direction: column;
  background-color: white;
  line-height: 1.5;
  position: relative;
}
.comment__box img{
  margin: 8px 0;
}
.submit {
  outline: none;
  border: none;
  background-color: #3397cf;
  color: white;
  padding: 11px 16px;
  border-radius: 10px;
}
.newpost__content {
  padding-bottom: 80px;
}
.newpost__btnbar {
  width: 725px;
  background-color: white;
  height: 68px;
  position: absolute;
  bottom: 0;
  padding-left: 20px;
}
.cancel {
  outline: none;
  border: none;
  background-color: white;
  color: rgba(0, 0, 0, 0.386);
}
.btninfo {
  color: rgba(0, 0, 0, 0.386);
}
.comment_warning {
  padding-right: 10px;
}
.like__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  margin: 0 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}
.comment__nums {
  display: flex;
  align-items: center;
}
.bi-heart-fill.active {
  color: red;
}
.like,
.comment {
  padding: 0 8px;
}
.bi-arrow-repeat{
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.no_comment_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.no_comment_btn{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #3397CF;
  width: 120px;
  margin: 20px auto;
  border-radius:9px;
  opacity: 0.9; 
  color: white;
  height: 40px;
  justify-content: center;
}
.selected{
  border: 3px solid #0000ff;
}