.userform {
  width: 526px;
  height: 480px;
  background-color: white;
  border-radius: 10px;
}
.userform__card {
  padding: 40px 60px 0 60px;
}
.userform__card > h5 {
  line-height: 30px;
  font-weight: bold;
}
.userform__card * {
  width: 406px;
}
input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px 14px;
  border-radius: 12px;
}
.remind {
  font-size: 10px;
}
select {
  border-radius: 12px;
  padding: 10px 14px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
select:focus {
  outline: none;
}
.userform__submit,
.start__btn {
  outline: none;
  border: none;
  background-color: #3397cf;
  color: white;
  padding: 11px 16px;
  border-radius: 10px;
}
.userform__alert {
  color: red;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 10px;
}
.userform__popup {
  width: 100%;
  background: rgba(0, 0, 0, 0.456);
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 2;
  display: none;
}
.popup__confirm {
  position: relative;
  left: 50%;
  transform: translate(-50%, 110px);
  z-index: 2;
  width: 420px;
  background-color: #ffffff;
  border-radius: 6px;
  height: 270px;
}
.school__popup{
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 2;
  display: none;
}
.school__popup-select{
  position: relative;
  left: 50%;
  transform: translate(-50%, 110px);
  z-index: 2;
  width: 526px;
  background-color: #ffffff;
  border-radius: 6px;
  height: 330px;
  overflow-y: auto;
}
#universitySelect{
  cursor: pointer;
}
/* .start__btn {
  outline: none;
  background-color: #3397cf;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
} */
#universitySelect,#gender {
  color: gray;
}
.gender{
  color: black;
}
.gender_popup{
  position: relative;
  left: 50%;
  transform: translate(-50%, -180px);
  z-index: 2;
  width: 406px;
  background-color: white;
  padding: 10px 12px;
  display: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
#gender{
  cursor: pointer;
}
.school_label-text{
  font-size: 25px;
}
.school_label {
  position: sticky;
  top: 0; 
  background-color: #ffffff;
  padding-bottom: 3px;
  padding-top: 3px;
}
.remark{
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
}
