<!DOCTYPE html>

<link rel="stylesheet" href="../static/css/chats.css" />
<title>信箱 | Ncard</title>
<link rel="icon" type="image/x-icon" href="../static/image/ncard_icon.png" />
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
{% extends "member.html" %} {% block main %}
<main>
  <div class="chat__container">
    <div class="chat__friend mt-3">
      <div class="mail__title">最新信件</div>
      <div class="friend__list">
      </div>
      <div class="loader"></div>
    </div>

    <div class="friend__room">
      <div class="friend__nav"></div>
      <!-- <div class="loading"></div> -->
      <div class="messages__div"></div>
      <div class="send__message">
        <div class="photo__div">
          <img id="avatar" class="profile__photo" alt="" />
        </div>
        <p class="comment__placeholder mb-0">寫信......</p>
      </div>
      <div class="full__content">
        <div class="full__writebar">
          <div class="photo__div">
            <img id="useravatar" class="profile__photo" alt="" />
          </div>
          <p class="write__friend" id="friendname"></p>
        </div>
        <textarea class="sendmessage__box" id="messageText"></textarea>
        <div
          class="sendmsg__btnbar d-flex justify-content-end align-items-center"
        >
          <p class="warn_text" style="margin-bottom: 0"></p>
          <div class="btn d-flex align-items-center">
            <button class="cancel me-2">取消</button>
            <button class="submit">送出</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block link %}
<!-- <script src="../static/js/user.js"></script> -->
<script type="module" src="../static/js/chat.js"></script>

{% endblock %}
