{% extends "base.html" %}
{% block title %}
<link rel="stylesheet" href="../static/css/style.css" />
<title>Ncard</title>
{% endblock %}
{% block main %}
<main>
  
    <div class="index">
      <div class="member__indexcard flex-column mt-5">
        <a href="/b/mood" class="board">
          <div class="board_label">
            <i class="bi bi-clipboard-heart-fill me-2"></i>
            心情
          </div>
        </a>
        <a href="/b/relationship" class="board">
          <div class="board_label">
            <i class="bi bi-search-heart me-2"></i>
            感情
          </div>
        </a>
        <a href="/b/talk" class="board">
          <div class="board_label">
            <i class="bi bi-people-fill me-2"></i>
            閒聊
          </div>
        </a>   
        <a href="/b/food" class="board">
          <div class="board_label">
            <i class="bi bi-egg-fried me-2"></i>
            美食
          </div>
        </a> 
        <a href="/b/job" class="board">
          <div class="board_label">
            <i class="bi bi-journal-text me-2"></i>
            工作
          </div>
        </a>
      </div>
      <div class="index__card rounded-3 mt-3">
        <div class="card__menu d-flex justify-content-center">
          <div class="menu__title d-flex align-items-center">
            <a class="title"  id="newTitle"
              >最新</a
            >
            <a class="title" id="hotTitle">熱門</a>
          </div>
        </div>
        <div></div>
        <div class="index__articles"></div>
        <div class="loading"></div>
      </div>
      <div class="intro">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="7000">
              <img
                src="../static/image/ncard.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="7000">
              <img
                src="../static/image/ncard-2.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="7000">
              <img
                src="../static/image/ncard-3.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="7000">
              <img
                src="../static/image/ncard-4.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="7000">
              <img
                src="../static/image/ncard-5.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}
{% block link %}
<script type="module" src="../static/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}